<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Formulario de Registro</title>
</head>
<body>
    <h2>Formulario de Registro</h2>
    <!-- th:action indica la url destino cuando se envie la acción -->
    <!-- <form th:object="${user}" th:action="@{/trayendoJson}" method="post"> -->
    <form id="formulario">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" required><br><br>
        
        <label for="apellido">Apellido:</label><br>
        <input type="text" id="apellido" name="apellido" required><br><br>
        
        <label for="edad">Edad:</label><br>
        <input type="number" id="edad" name="edad" required><br><br>
        
        <label for="cedula">Cédula:</label><br>
        <input type="text" id="cedula" name="cedula" required><br><br>

        <button class="btn btn-primary" type="submit">Enviar</button>

    </form>
    <script src="/leerDatos.js"></script>
        <!-- required indica que el campo es obligatorio -->
        <!-- <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required><br><br>
        
        <label for="apellido">Apellido:</label><br>
        <input type="text" id="apellido" name="apellido" th:field="*{apellido}" required><br><br>

        <label for="edad">Edad:</label><br>
        <input type="number" id="edad" name="edad" th:field="*{edad}" required><br><br>

        <label for="cedula">Cédula:</label><br>
        <input type="text" id="cedula" name="cedula" th:field="*{cedula}" required><br><br>
        
        <!-- submit indica que se envía la acción al action del formulario -->
        
        
    
</body>
</html>
